@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styling for CSS variables */
@layer base {
  :root {
    /* your custom properties */
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #000;
  }
}

/* Utility classes */
@layer utilities {
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  @keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideIn {
  animation: fadeSlideIn 0.2s ease-out forwards;
}

}
